<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <link rel="stylesheet" href="/stylesheets/styles2.css">
</head>
<body>
    <main>
    <h2>Welcome to our home page <br> <%= checkUser.username%></h2>
    <h3>Go to Home page <a href="/">home</a></h3>
</main>
</body>
</html>